.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 240px;
}

.main-content {
  padding: 1.5rem;
}

.active-link {
  background: rgba(63, 81, 181, 0.1) !important;
  color: #3f51b5 !important;
}

.main-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  display: flex;
  align-items: center;
}
